[Unit]
Description=scraper
After=network.target

[Service]
User=root
Group=root
Type=simple
WorkingDirectory=/app/scraperv2
ExecStart=/app/scraperv2/env/bin/python3.11 /app/scraperv2/main.py

[Install]
WantedBy=multi-user.target
